body{
    background: rgb(10, 10, 143);
    font: normal 15pt Arial

}

header {
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493) ;
}

div{
    text-align: center;
    padding: 5px;

}
#digit{
    float: right;
   }

#digit2{
    float: right;
   }

.upper{
    text-transform: uppercase;
}   
#per {
    
    font-size: 16px;
    background-color: rgb(214, 208, 200);
    width: 65%;
    padding: px;
    margin: auto;
    border-radius: 3mm;
    border-color: rgb(155, 155, 197);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493) ;
    
}

#retorno {
    font-size: 18px;
    
    background-color: rgb(177, 172, 164);
    width: 90%;
    padding: px;
    margin: auto;
    border-radius: 3mm;
    border-color: rgb(155, 155, 197);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493) ;
}
#preco{
    text-align: left;
}


#botao {
    float: right;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}